/.idea/
/.idea/*
/java/logs/
*.iml
/java/openapitools.json
/openapi/java/generated/
/openapi/javascript/generated/
/java/target/
/javascript/node_modules/
/javascript/package-lock.json
/javascript/dist/
/openapi/cs/generated/
/openapi/obj-c/generated/
/openapi/swift/generated/
/swift/.idea/
/swift/cmake-build-debug/
/swift/OpenAPIClient/
/swift/.gitignore
/swift/.openapi-generator-ignore
/swift/Cartfile
/swift/CMakeLists.txt
/swift/git_push.sh
/swift/OpenAPIClient.podspec
/swift/Package.swift
/swift/project.yml
/swift/README.md
/openapi/csharp/generated/
/csharp/ZiqniAdminSDK/.idea/
/csharp/.idea/
/csharp/Ziqni.sln.DotSettings.user
/openapi/php/generated/
/java/src/main/java/com/ziqni/admin/sdk/streaming/WsClientOld.java
/java/src/test/resources/application.properties
/java/src/main/resources/test-application.properties
