/.idea/
/.idea/*
/java/logs/
*.iml
/java/openapitools.json
/openapi/java/generated/
/openapi/javascript/generated/
/java/target/
/javascript/node_modules/
/javascript/package-lock.json
/javascript/dist/
/openapi/cs/generated/
/openapi/obj-c/generated/
