openapi: 3.0.2
info:
  title: ZIQNI Admin API
  version: 3.0.14
  description: |-
    Ziqni Application Services are used to manage and configure spaces.
    
    Change log:
    
    2024-02-27 Added rewards reduced to the LeaderboardEntry response
  contact:
    name: Support Team
    url: 'https://www.ziqni.com/'
    email: support@ziqni.com
  license:
    name: Ziqni General Licence
    url: 'https://www.ziqni.com/terms-of-service/'
  x-logo:
    url: 'https://documentation.ziqni.com/ziqni-logo-white.png'
    backgroundColor: '#FFFFFF'
    altText: Ziqni
servers:
  -
    url: 'https://api.ziqni.com'
    description: Production environment
paths:
  /products/query:
    summary: Get products by query
    description: This operation allows you to get products in your project using a query.
    post:
      requestBody:
        description: >-
          Retrieve Products from Ziqni database by unique Product ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
            examples:
              Example:
                value:
                  must:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  mustNot:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  should:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  gte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  gt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  range:
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                  sortBy:
                    -
                      queryField: some text
                      order: Asc
                    -
                      queryField: some text
                      order: Desc
                  multiFields:
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                  includeFields:
                    - some text
                    - some text
                  hasValue:
                    - some text
                    - some text
                  hasNoValue:
                    - some text
                    - some text
                  shouldMatch: 76
                  skip: 85
                  limit: 86
                  constraints:
                    - some text
                    - some text
      tags:
        - products
      responses:
        '200':
          $ref: '#/components/responses/ProductResponseBody'
        '400':
          $ref: '#/components/responses/ProductResponseBody'
        '401':
          $ref: '#/components/responses/ProductResponseBody'
        '403':
          $ref: '#/components/responses/ProductResponseBody'
        '404':
          $ref: '#/components/responses/ProductResponseBody'
        '500':
          $ref: '#/components/responses/ProductResponseBody'
        '501':
          $ref: '#/components/responses/ProductResponseBody'
      security:
        -
          OAuth2:
            - ViewProducts
      operationId: getProductsByQuery
      summary: Get products by query
      description: >-
        Retrieve Products from Ziqni database by unique Product ID's or any other POST body parameters
        using the POST method
      x-codegen-request-body-name: body
  /products/delete:
    summary: Delete products by query
    description: This operation allows you to delete products in your project using a query.
    post:
      requestBody:
        description: >-
          Delete Products from Ziqni database by unique Product ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
            examples:
              Example:
                value:
                  must:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  mustNot:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  should:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  gte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  gt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  range:
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                  sortBy:
                    -
                      queryField: some text
                      order: Desc
                    -
                      queryField: some text
                      order: Desc
                  multiFields:
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                  includeFields:
                    - some text
                    - some text
                  hasValue:
                    - some text
                    - some text
                  hasNoValue:
                    - some text
                    - some text
                  shouldMatch: 87
                  skip: 97
                  limit: 5
                  constraints:
                    - some text
                    - some text
      tags:
        - products
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminProducts
      operationId: deleteProductsByQuery
      summary: Delete products by query
      description: >-
        Delete Products from Ziqni database by unique Product ID's or any other POST body parameters
        using the POST method
      x-codegen-request-body-name: body
  /members/query:
    summary: Get members by query
    description: This operation allows you to get members in your project using a query.
    post:
      requestBody:
        description: >-
          Retrieve Products from Ziqni database by unique Product ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
            examples:
              Example:
                value:
                  must:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  mustNot:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  should:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  gte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  gt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  range:
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                  sortBy:
                    -
                      queryField: some text
                      order: Desc
                    -
                      queryField: some text
                      order: Asc
                  multiFields:
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                  includeFields:
                    - some text
                    - some text
                  hasValue:
                    - some text
                    - some text
                  hasNoValue:
                    - some text
                    - some text
                  shouldMatch: 46
                  skip: 12
                  limit: 13
                  constraints:
                    - some text
                    - some text
      tags:
        - members
      responses:
        '200':
          $ref: '#/components/responses/MemberResponseBody'
        '400':
          $ref: '#/components/responses/MemberResponseBody'
        '401':
          $ref: '#/components/responses/MemberResponseBody'
        '403':
          $ref: '#/components/responses/MemberResponseBody'
        '404':
          $ref: '#/components/responses/MemberResponseBody'
        '500':
          $ref: '#/components/responses/MemberResponseBody'
        '501':
          $ref: '#/components/responses/MemberResponseBody'
      security:
        -
          OAuth2:
            - ViewMembers
      operationId: getMembersByQuery
      summary: Get members by query
      description: >-
        Retrieve Members from Ziqni database by unique Member ID's or any other POST body parameters
        using the POST method
      x-codegen-request-body-name: body
  /members/delete:
    summary: Delete members by query
    description: This operation allows you to delete members in your project using a query.
    post:
      requestBody:
        description: >-
          Delete Members from Ziqni database by unique Members ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
            examples:
              Example:
                value:
                  must:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  mustNot:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  should:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  gte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  gt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  range:
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                  sortBy:
                    -
                      queryField: some text
                      order: Desc
                    -
                      queryField: some text
                      order: Desc
                  multiFields:
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                  includeFields:
                    - some text
                    - some text
                  hasValue:
                    - some text
                    - some text
                  hasNoValue:
                    - some text
                    - some text
                  shouldMatch: 91
                  skip: 34
                  limit: 62
                  constraints:
                    - some text
                    - some text
      tags:
        - members
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminMembers
      operationId: deleteMembersByQuery
      summary: Delete members by query
      description: >-
        Delete Members from Ziqni database by unique Members ID's or any other POST body parameters
        using the POST method
      x-codegen-request-body-name: body
  /competitions/query:
    post:
      requestBody:
        description: >-
          Retrieve Competitions from Ziqni database by unique Competition ID's or any other POST
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - competitions
      responses:
        '200':
          $ref: '#/components/responses/CompetitionResponseBody'
        '400':
          $ref: '#/components/responses/CompetitionResponseBody'
        '401':
          $ref: '#/components/responses/CompetitionResponseBody'
        '403':
          $ref: '#/components/responses/CompetitionResponseBody'
        '404':
          $ref: '#/components/responses/CompetitionResponseBody'
        '413':
          $ref: '#/components/responses/CompetitionResponseBody'
        '500':
          $ref: '#/components/responses/CompetitionResponseBody'
        '501':
          $ref: '#/components/responses/CompetitionResponseBody'
        '503':
          $ref: '#/components/responses/CompetitionResponseBody'
      security:
        -
          OAuth2:
            - ViewCompetitions
      operationId: getCompetitionsByQuery
      description: >-
        Retrieve Competitions from Ziqni database by unique Competition ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /competitions/state:
    put:
      requestBody:
        description: Updates the state of the Competition
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateCompetitionStatusRequest'
      tags:
        - competitions
      responses:
        '201':
          $ref: '#/components/responses/ApiResponseBody'
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - ManageCompetition
      operationId: updateCompetitionsState
      description: Manages the Competitions state
      x-codegen-request-body-name: body
  /contests/query:
    post:
      requestBody:
        description: >-
          Retrieve Contests from Ziqni database by unique Contest ID's or any other Post body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - contests
      responses:
        '200':
          $ref: '#/components/responses/ContestResponseBody'
        '400':
          $ref: '#/components/responses/ContestResponseBody'
        '401':
          $ref: '#/components/responses/ContestResponseBody'
        '403':
          $ref: '#/components/responses/ContestResponseBody'
        '404':
          $ref: '#/components/responses/ContestResponseBody'
        '413':
          $ref: '#/components/responses/ContestResponseBody'
        '500':
          $ref: '#/components/responses/ContestResponseBody'
        '501':
          $ref: '#/components/responses/ContestResponseBody'
        '503':
          $ref: '#/components/responses/ContestResponseBody'
      security:
        -
          OAuth2:
            - ViewContest
      operationId: getContestsByQuery
      description: >-
        Retrieve Contests from Ziqni database by unique Contests ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  '/contests/{id}/clone':
    get:
      tags:
        - contests
      parameters:
        -
          $ref: '#/components/parameters/idPath'
      responses:
        '200':
          $ref: '#/components/responses/CloneContestResponseBody'
        '400':
          $ref: '#/components/responses/CloneContestResponseBody'
        '401':
          $ref: '#/components/responses/CloneContestResponseBody'
        '403':
          $ref: '#/components/responses/CloneContestResponseBody'
        '404':
          $ref: '#/components/responses/CloneContestResponseBody'
        '413':
          $ref: '#/components/responses/CloneContestResponseBody'
        '500':
          $ref: '#/components/responses/CloneContestResponseBody'
        '501':
          $ref: '#/components/responses/CloneContestResponseBody'
        '503':
          $ref: '#/components/responses/CloneContestResponseBody'
      security:
        -
          OAuth2:
            - ViewContest
      operationId: getContestsToClone
      description: Clones a Contest for the identifier provided
      x-codegen-request-body-name: body
  /contests/state:
    put:
      requestBody:
        description: Updates the state of the Contest
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateContestStateRequest'
      tags:
        - contests
      responses:
        '201':
          $ref: '#/components/responses/ApiResponseBody'
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - ManageContest
      operationId: updateContestsState
      description: Manages the Contests state
      x-codegen-request-body-name: body
  /achievements/query:
    post:
      requestBody:
        description: >-
          Retrieve Achievements from Ziqni database by unique Achievements ID's or any other Post
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - achievements
      responses:
        '200':
          $ref: '#/components/responses/AchievementResponseBody'
        '400':
          $ref: '#/components/responses/AchievementResponseBody'
        '401':
          $ref: '#/components/responses/AchievementResponseBody'
        '403':
          $ref: '#/components/responses/AchievementResponseBody'
        '404':
          $ref: '#/components/responses/AchievementResponseBody'
        '413':
          $ref: '#/components/responses/AchievementResponseBody'
        '500':
          $ref: '#/components/responses/AchievementResponseBody'
        '501':
          $ref: '#/components/responses/AchievementResponseBody'
        '503':
          $ref: '#/components/responses/AchievementResponseBody'
      security:
        -
          OAuth2:
            - ViewAchievement
      operationId: getAchievementsByQuery
      description: >-
        Retrieve Achievements from Ziqni database by unique Achievements ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /achievements/delete:
    post:
      requestBody:
        description: >-
          Delete Achievements from Ziqni database by unique Achievements ID's or any other Post body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - achievements
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      deprecated: true
      security:
        -
          OAuth2:
            - AdminAchievements
      operationId: deleteAchievementsByQuery
      description: >-
        Delete Achievements from Ziqni database by unique Achievements ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  '/achievements/{id}/issued':
    get:
      tags:
        - achievements
      parameters:
        -
          $ref: '#/components/parameters/idPath'
      responses:
        '200':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '400':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '401':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '403':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '404':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '413':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '500':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '501':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '503':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
      security:
        -
          OAuth2:
            - ViewAchievement
      operationId: getIssuedAchievementsCountById
      description: Receive a count of Issued Achievements by identifier provided
      x-codegen-request-body-name: body
  '/achievements/{id}/members':
    get:
      tags:
        - achievements
      parameters:
        -
          $ref: '#/components/parameters/idPath'
        -
          style: form
          explode: false
          name: memberId
          description: Id of a member
          schema:
            type: string
          in: query
        -
          $ref: '#/components/parameters/limitResults'
        -
          $ref: '#/components/parameters/skipResults'
      responses:
        '200':
          $ref: '#/components/responses/MemberAchievementIssuedResponseBody'
        '400':
          $ref: '#/components/responses/MemberAchievementIssuedResponseBody'
        '401':
          $ref: '#/components/responses/MemberAchievementIssuedResponseBody'
        '403':
          $ref: '#/components/responses/MemberAchievementIssuedResponseBody'
        '404':
          $ref: '#/components/responses/MemberAchievementIssuedResponseBody'
        '413':
          $ref: '#/components/responses/MemberAchievementIssuedResponseBody'
        '500':
          $ref: '#/components/responses/MemberAchievementIssuedResponseBody'
        '501':
          $ref: '#/components/responses/MemberAchievementIssuedResponseBody'
        '503':
          $ref: '#/components/responses/MemberAchievementIssuedResponseBody'
      security:
        -
          OAuth2:
            - ViewAchievement
      operationId: getMembersAchievementsDetails
      description: >-
        Receive a list of members that had an Achievement issued for the Achievement identified
        provided
      x-codegen-request-body-name: body
  '/achievements/{id}/antecedents':
    get:
      tags:
        - achievements
      parameters:
        -
          $ref: '#/components/parameters/idPath'
        -
          $ref: '#/components/parameters/limitResults'
        -
          $ref: '#/components/parameters/skipResults'
      responses:
        '200':
          $ref: '#/components/responses/AchievementResponseBody'
        '400':
          $ref: '#/components/responses/AchievementResponseBody'
        '401':
          $ref: '#/components/responses/AchievementResponseBody'
        '403':
          $ref: '#/components/responses/AchievementResponseBody'
        '404':
          $ref: '#/components/responses/AchievementResponseBody'
        '413':
          $ref: '#/components/responses/AchievementResponseBody'
        '500':
          $ref: '#/components/responses/AchievementResponseBody'
        '501':
          $ref: '#/components/responses/AchievementResponseBody'
        '503':
          $ref: '#/components/responses/AchievementResponseBody'
      security:
        -
          OAuth2:
            - ViewAchievement
      operationId: getAntecendentsForAchievement
      summary: NOT AVAILABLE IN CURRENT RELEASE
      description: Receive a list of Antecedent Achievements for the Achievement identified provided
      x-codegen-request-body-name: body
  '/achievements/{id}/clone':
    get:
      tags:
        - achievements
      parameters:
        -
          $ref: '#/components/parameters/idPath'
      responses:
        '200':
          $ref: '#/components/responses/CloneAchievementResponseBody'
        '400':
          $ref: '#/components/responses/CloneAchievementResponseBody'
        '401':
          $ref: '#/components/responses/CloneAchievementResponseBody'
        '403':
          $ref: '#/components/responses/CloneAchievementResponseBody'
        '404':
          $ref: '#/components/responses/CloneAchievementResponseBody'
        '413':
          $ref: '#/components/responses/CloneAchievementResponseBody'
        '500':
          $ref: '#/components/responses/CloneAchievementResponseBody'
        '501':
          $ref: '#/components/responses/CloneAchievementResponseBody'
        '503':
          $ref: '#/components/responses/CloneAchievementResponseBody'
      security:
        -
          OAuth2:
            - ViewAchievement
      operationId: getAchievementToClone
      description: Clones an Achievement for the identifier provided
      x-codegen-request-body-name: body
  /achievements/state:
    put:
      requestBody:
        description: Updates the state of the Achievement
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AchievementLiveStatusRequest'
      tags:
        - achievements
      responses:
        '201':
          $ref: '#/components/responses/ApiResponseBody'
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - ManageAchievements
      operationId: updateAchievementsLiveStatus
      description: 'Manage the state of achievement - Draft, Live, Archived'
      x-codegen-request-body-name: body
  /rewards/query:
    post:
      requestBody:
        description: >-
          Retrieve Rewards from Ziqni database by unique Rewards ID's or any other Post body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - rewards
      responses:
        '200':
          $ref: '#/components/responses/RewardResponseBody'
        '400':
          $ref: '#/components/responses/RewardResponseBody'
        '401':
          $ref: '#/components/responses/RewardResponseBody'
        '403':
          $ref: '#/components/responses/RewardResponseBody'
        '404':
          $ref: '#/components/responses/RewardResponseBody'
        '413':
          $ref: '#/components/responses/RewardResponseBody'
        '500':
          $ref: '#/components/responses/RewardResponseBody'
        '501':
          $ref: '#/components/responses/RewardResponseBody'
        '503':
          $ref: '#/components/responses/RewardResponseBody'
      security:
        -
          OAuth2:
            - ViewRewards
      operationId: getRewardsByQuery
      description: >-
        Retrieve Rewards from Ziqni database by unique Rewards ID's or any other POST body parameters
        using the POST method
      x-codegen-request-body-name: body
  /rewards/delete:
    post:
      requestBody:
        description: >-
          Delete Rewards from Ziqni database by unique Rewards ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - rewards
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminRewards
      operationId: deleteRewardsByQuery
      description: >-
        Delete Rewards from Ziqni database by unique Rewards ID's or any other POST body parameters
        using the POST method
      x-codegen-request-body-name: body
  /awards/claim:
    put:
      requestBody:
        description: Claim Awards
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ClaimAwardRequest'
        required: true
      tags:
        - awards
      responses:
        '201':
          $ref: '#/components/responses/ApiResponseBody'
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminClaim
      operationId: claimAwards
      description: Claim Awards that need to be actioned at
      x-codegen-request-body-name: body
  /reward-types/query:
    summary: Get reward types by query
    description: This operation allows you to get reward types in your project using a query.
    post:
      requestBody:
        description: >-
          Retrieve Reward types from Ziqni database by unique Reward type ID's or any other POST
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
            examples:
              Example:
                value:
                  must:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  mustNot:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  should:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  gte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  gt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  range:
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                  sortBy:
                    -
                      queryField: some text
                      order: Asc
                    -
                      queryField: some text
                      order: Desc
                  multiFields:
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                  includeFields:
                    - some text
                    - some text
                  hasValue:
                    - some text
                    - some text
                  hasNoValue:
                    - some text
                    - some text
                  shouldMatch: 76
                  skip: 85
                  limit: 86
                  constraints:
                    - some text
                    - some text
      tags:
        - reward-types
      responses:
        '200':
          $ref: '#/components/responses/RewardTypeResponseBody'
        '400':
          $ref: '#/components/responses/RewardTypeResponseBody'
        '401':
          $ref: '#/components/responses/RewardTypeResponseBody'
        '403':
          $ref: '#/components/responses/RewardTypeResponseBody'
        '404':
          $ref: '#/components/responses/RewardTypeResponseBody'
        '500':
          $ref: '#/components/responses/RewardTypeResponseBody'
        '501':
          $ref: '#/components/responses/RewardTypeResponseBody'
      security:
        -
          OAuth2:
            - ViewRewardType
      operationId: getRewardTypesByQuery
      summary: Get reward types by query
      description: >-
        Retrieve Reward types from Ziqni database by unique Reward type ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /reward-types/delete:
    summary: Delete reward types by query
    description: This operation allows you to delete reward types in your project using a query.
    post:
      requestBody:
        description: >-
          Delete Reward types from Ziqni database by unique Reward types ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
            examples:
              Example:
                value:
                  must:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  mustNot:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  should:
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                    -
                      queryField: some text
                      queryValues:
                        - some text
                        - some text
                  gte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  gt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lte:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  lt:
                    -
                      queryField: some text
                      queryValue: some text
                    -
                      queryField: some text
                      queryValue: some text
                  range:
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                    -
                      queryField: some text
                      gt: some text
                      lt: some text
                      constraints:
                        - some text
                        - some text
                  sortBy:
                    -
                      queryField: some text
                      order: Desc
                    -
                      queryField: some text
                      order: Desc
                  multiFields:
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                    -
                      queryFields:
                        - some text
                        - some text
                      queryValue: some text
                  includeFields:
                    - some text
                    - some text
                  hasValue:
                    - some text
                    - some text
                  hasNoValue:
                    - some text
                    - some text
                  shouldMatch: 87
                  skip: 97
                  limit: 5
                  constraints:
                    - some text
                    - some text
      tags:
        - reward-types
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminRewardType
      operationId: deleteRewardTypesByQuery
      summary: Delete reward types by query
      description: >-
        Delete Reward types from Ziqni database by unique Reward types ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /action-types/query:
    summary: Get action types by query
    description: This operation allows you to get action types in your project using a query.
    post:
      requestBody:
        description: >-
          Retrieve Action types from Ziqni database by unique Action type ID's or any other POST
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - action-types
      responses:
        '200':
          $ref: '#/components/responses/ActionTypeResponseBody'
        '400':
          $ref: '#/components/responses/ActionTypeResponseBody'
        '401':
          $ref: '#/components/responses/ActionTypeResponseBody'
        '403':
          $ref: '#/components/responses/ActionTypeResponseBody'
        '404':
          $ref: '#/components/responses/ActionTypeResponseBody'
        '500':
          $ref: '#/components/responses/ActionTypeResponseBody'
        '501':
          $ref: '#/components/responses/ActionTypeResponseBody'
      security:
        -
          OAuth2:
            - ViewActions
      operationId: getActionTypesByQuery
      summary: Get action types by query
      description: >-
        Retrieve Action types from Ziqni database by unique Action type ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /action-types/delete:
    summary: Delete action types by query
    description: This operation allows you to delete action types in your project using a query.
    post:
      requestBody:
        description: >-
          Delete Action types from Ziqni database by unique Action types ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - action-types
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminActions
      operationId: deleteActionTypesByQuery
      summary: Delete action types by query
      description: >-
        Delete Action types from Ziqni database by unique Action types ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /languages/query:
    post:
      requestBody:
        description: >-
          Retrieve Languages from Ziqni database by unique Language ID's or any other Post body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - languages
      responses:
        '200':
          $ref: '#/components/responses/LanguageResponseBody'
        '400':
          $ref: '#/components/responses/LanguageResponseBody'
        '401':
          $ref: '#/components/responses/LanguageResponseBody'
        '403':
          $ref: '#/components/responses/LanguageResponseBody'
        '404':
          $ref: '#/components/responses/LanguageResponseBody'
        '413':
          $ref: '#/components/responses/LanguageResponseBody'
        '500':
          $ref: '#/components/responses/LanguageResponseBody'
        '501':
          $ref: '#/components/responses/LanguageResponseBody'
        '503':
          $ref: '#/components/responses/LanguageResponseBody'
      security:
        -
          OAuth2:
            - ViewLanguage
      operationId: getLanguagesByQuery
      description: >-
        Retrieve Languages from Ziqni database by unique Language ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /languages/delete:
    post:
      requestBody:
        description: >-
          Delete Languages from Ziqni database by unique Language ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - languages
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminLanguage
      operationId: deleteLanguagesByQuery
      description: >-
        Delete Languages from Ziqni database by unique Language ID's or any other POST body parameters
        using the POST method
      x-codegen-request-body-name: body
  /custom-fields/query:
    summary: Get custom fields by query
    description: This operation allows you to get custom fields in your project using a query.
    post:
      requestBody:
        description: >-
          Retrieve Custom fields from Ziqni database by unique Custom field ID's or any other Post
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - custom-fields
      responses:
        '200':
          $ref: '#/components/responses/CustomFieldResponseBody'
        '400':
          $ref: '#/components/responses/CustomFieldResponseBody'
        '401':
          $ref: '#/components/responses/CustomFieldResponseBody'
        '403':
          $ref: '#/components/responses/CustomFieldResponseBody'
        '404':
          $ref: '#/components/responses/CustomFieldResponseBody'
        '500':
          $ref: '#/components/responses/CustomFieldResponseBody'
        '501':
          $ref: '#/components/responses/CustomFieldResponseBody'
      security:
        -
          OAuth2:
            - ViewCustomFields
      operationId: getCustomFieldsByQuery
      summary: Get custom fields by query
      description: >-
        Retrieve Custom fields from Ziqni database by unique Custom field ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /custom-fields/delete:
    summary: Delete custom fields by query
    description: This operation allows you to delete custom fields in your project using a query.
    post:
      requestBody:
        description: >-
          Delete Custom fields from Ziqni database by unique Custom field ID's or any other POST
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - custom-fields
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminCustomFields
      operationId: deleteCustomFieldsByQuery
      summary: Delete custom fields by query
      description: >-
        Delete Custom fields from Ziqni database by unique Custom field ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /units-of-measure/query:
    post:
      requestBody:
        description: >-
          Retrieve Units of measure from Ziqni database by unique Unit of measure ID's or any other
          POST body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - units-of-measure
      responses:
        '200':
          $ref: '#/components/responses/UnitOfMeasureResponseBody'
        '400':
          $ref: '#/components/responses/UnitOfMeasureResponseBody'
        '401':
          $ref: '#/components/responses/UnitOfMeasureResponseBody'
        '403':
          $ref: '#/components/responses/UnitOfMeasureResponseBody'
        '404':
          $ref: '#/components/responses/UnitOfMeasureResponseBody'
        '413':
          $ref: '#/components/responses/UnitOfMeasureResponseBody'
        '500':
          $ref: '#/components/responses/UnitOfMeasureResponseBody'
        '501':
          $ref: '#/components/responses/UnitOfMeasureResponseBody'
        '503':
          $ref: '#/components/responses/UnitOfMeasureResponseBody'
      security:
        -
          OAuth2:
            - ViewUOM
      operationId: getUnitsOfMeasureByQuery
      description: >-
        Retrieve Units of measure from Ziqni database by unique Unit of measure ID's or any other POST
        body parameters using the POST method
      x-codegen-request-body-name: body
  /units-of-measure/delete:
    post:
      requestBody:
        description: >-
          Delete Units of measure from Ziqni database by unique Unit of measure ID's or any other
          POST body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - units-of-measure
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminUOM
      operationId: deleteUnitsOfMeasureByQuery
      summary: Delete units of measure by query
      description: >-
        Delete Units of measure from Ziqni database by unique Unit of measure ID's or any other POST
        body parameters using the POST method
      x-codegen-request-body-name: body
  /transformers/query:
    post:
      requestBody:
        description: >-
          Retrieve a Transformer or a list of Transformers from Ziqni by unique Transformer ID's or
          any other Post body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - transformers
      responses:
        '200':
          $ref: '#/components/responses/TransformerResponseBody'
        '400':
          $ref: '#/components/responses/TransformerResponseBody'
        '401':
          $ref: '#/components/responses/TransformerResponseBody'
        '403':
          $ref: '#/components/responses/TransformerResponseBody'
        '404':
          $ref: '#/components/responses/TransformerResponseBody'
        '413':
          $ref: '#/components/responses/TransformerResponseBody'
        '500':
          $ref: '#/components/responses/TransformerResponseBody'
        '501':
          $ref: '#/components/responses/TransformerResponseBody'
        '503':
          $ref: '#/components/responses/TransformerResponseBody'
      security:
        -
          OAuth2:
            - AdminTransformers
      operationId: getTransformersByQuery
      description: >-
        Retrieve a Transformer or a list of Transformers from Ziqni by unique Transformer ID's or any
        other POST body parameters using the POST method
      x-codegen-request-body-name: body
  /webhooks/query:
    post:
      requestBody:
        description: >-
          Retrieve a Webhook or a list of Webhooks from Ziqni by unique Webhook ID's or any other
          Post body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - webhooks
      responses:
        '200':
          $ref: '#/components/responses/WebhookResponseBody'
        '400':
          $ref: '#/components/responses/WebhookResponseBody'
        '401':
          $ref: '#/components/responses/WebhookResponseBody'
        '403':
          $ref: '#/components/responses/WebhookResponseBody'
        '404':
          $ref: '#/components/responses/WebhookResponseBody'
        '413':
          $ref: '#/components/responses/WebhookResponseBody'
        '500':
          $ref: '#/components/responses/WebhookResponseBody'
        '501':
          $ref: '#/components/responses/WebhookResponseBody'
        '503':
          $ref: '#/components/responses/WebhookResponseBody'
      security:
        -
          OAuth2:
            - AdminWebhooks
      operationId: getWebhooksByQuery
      description: >-
        Retrieve a Webhook or a list of Webhooks from Ziqni by unique Webhook ID's or any other POST
        body parameters using the POST method
      x-codegen-request-body-name: body
  /webhooks/delete:
    post:
      requestBody:
        description: >-
          Delete a Webhook or a list of Webhooks from Ziqni by unique Webhook ID's or any other POST
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - webhooks
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminWebhooks
      operationId: deleteWebhooksByQuery
      summary: Delete webhooks by query
      description: >-
        Delete a Webhook or a list of Webhooks from Ziqni by unique Webhook ID's or any other POST
        body parameters using the POST method
      x-codegen-request-body-name: body
  /events/query:
    post:
      requestBody:
        description: >-
          Retrieve an Event or a list of Events from Ziqni by unique Event ID's or any other POST
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - events
      responses:
        '200':
          $ref: '#/components/responses/EventResponseBody'
        '400':
          $ref: '#/components/responses/EventResponseBody'
        '401':
          $ref: '#/components/responses/EventResponseBody'
        '403':
          $ref: '#/components/responses/EventResponseBody'
        '404':
          $ref: '#/components/responses/EventResponseBody'
        '413':
          $ref: '#/components/responses/EventResponseBody'
        '500':
          $ref: '#/components/responses/EventResponseBody'
        '501':
          $ref: '#/components/responses/EventResponseBody'
        '503':
          $ref: '#/components/responses/EventResponseBody'
      security:
        -
          OAuth2:
            - ViewEvents
      operationId: getEventsByQuery
      description: >-
        Retrieve an Event or a list of Events from Ziqni by unique Event ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /api-keys/query:
    summary: Get api keys by query
    description: This operation allows you to get api keys in your project using a query.
    post:
      requestBody:
        description: >-
          Retrieve an Api key or a list of Api keys from Ziqni by unique Api key ID's or any other
          POST body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - api-keys
      responses:
        '200':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '400':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '401':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '403':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '404':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '500':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '501':
          $ref: '#/components/responses/ApiKeyResponseBody'
      security:
        -
          OAuth2:
            - AdminApi
      operationId: getApiKeysByQuery
      summary: Get api keys by query
      description: Retrieve an Api key or a list of Api keys by query
      x-codegen-request-body-name: body
  /api-keys/delete:
    summary: Delete api keys by query
    description: This operation allows you to delete api keys in your project using a query.
    post:
      requestBody:
        description: >-
          Delete an Api key or a list of Api keys from Ziqni by unique Api key ID's or any other
          POST body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - api-keys
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminApi
      operationId: deleteApiKeysByQuery
      summary: Delete api keys by query
      description: Delete an Api key or a list of Api keys from Ziqni by query
      x-codegen-request-body-name: body
  '/api-keys/{id}':
    summary: Get and delete api keys by id
    description: These operations allow you to get or delete api keys in your project by id.
    get:
      tags:
        - api-keys
      parameters:
        -
          $ref: '#/components/parameters/idPath'
      responses:
        '200':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '400':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '401':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '403':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '404':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '500':
          $ref: '#/components/responses/ApiKeyResponseBody'
        '501':
          $ref: '#/components/responses/ApiKeyResponseBody'
      security:
        -
          OAuth2:
            - AdminApi
      operationId: getApiKeysById
      summary: Get api keys by id
      description: >-
        Returns an Api key by identifier provided. This assumes that api keys have first been created
        via a POST request or web console
      x-codegen-request-body-name: body
    delete:
      tags:
        - api-keys
      parameters:
        -
          $ref: '#/components/parameters/idPath'
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminApi
      operationId: deleteApiKeysById
      summary: Delete api keys by id
      description: Delete the Api key for a given identifier specified
      x-codegen-request-body-name: body
  /tags/delete:
    summary: Delete tags by query
    description: This operation allows you to delete tags by query
    post:
      requestBody:
        description: >-
          Delete Tags from Ziqni database by unique Tags ID's or any other POST body parameters
          using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - tags
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminTags
      operationId: deleteTagsByQuery
      summary: Delete tags by query
      description: >-
        Delete Tags from Ziqni database by unique Tags ID's or any other POST body parameters using
        the POST method
      x-codegen-request-body-name: body
  /connections/state:
    summary: Manage connection states
    description: >-
      The endpoint provides a means to manage connection state, for example: Start a conneciton or Stop
      a connection.
    post:
      requestBody:
        description: Update the state of a Consumer using the POST method
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateConnectionStateRequest'
      tags:
        - connections
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      deprecated: false
      security:
        -
          OAuth2:
            - AdminConsumer
      operationId: updateConnectionsState
      summary: Update connection status
      description: Update the state of a Consumer using the POST method
      x-codegen-request-body-name: body
  /languages/available:
    get:
      tags:
        - languages
      parameters:
        -
          $ref: '#/components/parameters/limitResults'
        -
          $ref: '#/components/parameters/skipResults'
      responses:
        '200':
          $ref: '#/components/responses/AvailableLanguageResponseBody'
        '400':
          $ref: '#/components/responses/AvailableLanguageResponseBody'
        '401':
          $ref: '#/components/responses/AvailableLanguageResponseBody'
        '403':
          $ref: '#/components/responses/AvailableLanguageResponseBody'
        '404':
          $ref: '#/components/responses/AvailableLanguageResponseBody'
        '413':
          $ref: '#/components/responses/AvailableLanguageResponseBody'
        '500':
          $ref: '#/components/responses/AvailableLanguageResponseBody'
        '501':
          $ref: '#/components/responses/AvailableLanguageResponseBody'
        '503':
          $ref: '#/components/responses/AvailableLanguageResponseBody'
      security:
        -
          OAuth2:
            - ViewLanguage
      operationId: getListOfAllLanguages
      description: Returns a list of all avaialable Languages
      x-codegen-request-body-name: body
  '/spaces/{spaceName}':
    get:
      tags:
        - spaces
      parameters:
        -
          $ref: '#/components/parameters/limitResults'
        -
          $ref: '#/components/parameters/skipResults'
        -
          $ref: '#/components/parameters/spaceName'
      responses:
        '200':
          $ref: '#/components/responses/SpaceResponseBody'
        '400':
          $ref: '#/components/responses/SpaceResponseBody'
        '401':
          $ref: '#/components/responses/SpaceResponseBody'
        '403':
          $ref: '#/components/responses/SpaceResponseBody'
        '404':
          $ref: '#/components/responses/SpaceResponseBody'
        '413':
          $ref: '#/components/responses/SpaceResponseBody'
        '500':
          $ref: '#/components/responses/SpaceResponseBody'
        '501':
          $ref: '#/components/responses/SpaceResponseBody'
        '503':
          $ref: '#/components/responses/SpaceResponseBody'
      security:
        -
          OAuth2:
            - ViewSpaces
      operationId: getSpacesByName
      description: Return a list of sub-spaces for the given Space Name provided
      x-codegen-request-body-name: body
    delete:
      tags:
        - spaces
      parameters:
        -
          name: spaceName
          description: This is the space name which will be deleted
          schema:
            type: string
          in: path
          required: true
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminSpaces
      operationId: deleteSpaces
      summary: NOT AVAILABLE IN CURRENT RELEASE
      description: Delete the Space for the given Space Name provided
      x-codegen-request-body-name: body
  /collaborators/available-roles:
    get:
      tags:
        - collaborators
      responses:
        '200':
          $ref: '#/components/responses/CollaboratorRolesResponseBody'
        '400':
          $ref: '#/components/responses/CollaboratorRolesResponseBody'
        '401':
          $ref: '#/components/responses/CollaboratorRolesResponseBody'
        '403':
          $ref: '#/components/responses/CollaboratorRolesResponseBody'
        '404':
          $ref: '#/components/responses/CollaboratorRolesResponseBody'
        '413':
          $ref: '#/components/responses/CollaboratorRolesResponseBody'
        '500':
          $ref: '#/components/responses/CollaboratorRolesResponseBody'
        '501':
          $ref: '#/components/responses/CollaboratorRolesResponseBody'
        '503':
          $ref: '#/components/responses/CollaboratorRolesResponseBody'
      security:
        -
          OAuth2:
            - ViewCollaborator
      operationId: getAvailableRolesForCollaborators
      description: >-
        Returns a list of Collaborators. This assumes that Users have first been uploaded via a POST
        request or web console
      x-codegen-request-body-name: body
  /webhooks/triggers:
    get:
      tags:
        - webhooks
      responses:
        '200':
          $ref: '#/components/responses/WebhookTriggersResponseBody'
        '400':
          $ref: '#/components/responses/WebhookTriggersResponseBody'
        '401':
          $ref: '#/components/responses/WebhookTriggersResponseBody'
        '403':
          $ref: '#/components/responses/WebhookTriggersResponseBody'
        '404':
          $ref: '#/components/responses/WebhookTriggersResponseBody'
        '413':
          $ref: '#/components/responses/WebhookTriggersResponseBody'
        '500':
          $ref: '#/components/responses/WebhookTriggersResponseBody'
        '501':
          $ref: '#/components/responses/WebhookTriggersResponseBody'
        '503':
          $ref: '#/components/responses/WebhookTriggersResponseBody'
      security:
        -
          OAuth2:
            - AdminWebhooks
      operationId: getWebhooksTriggers
      description: Returns a list of all avilable Webhooks triggers
      x-codegen-request-body-name: body
  /members/find-by-ref-identifiers:
    summary: Get products by reference identifiers
    description: This operation allows you to get members in your project using reference identifiers.
    get:
      tags:
        - members
      parameters:
        -
          $ref: '#/components/parameters/refId'
        -
          $ref: '#/components/parameters/limitResults'
        -
          $ref: '#/components/parameters/skipResults'
      responses:
        '200':
          $ref: '#/components/responses/MemberResponseBody'
        '400':
          $ref: '#/components/responses/MemberResponseBody'
        '401':
          $ref: '#/components/responses/MemberResponseBody'
        '403':
          $ref: '#/components/responses/MemberResponseBody'
        '404':
          $ref: '#/components/responses/MemberResponseBody'
        '500':
          $ref: '#/components/responses/MemberResponseBody'
        '501':
          $ref: '#/components/responses/MemberResponseBody'
      security:
        -
          OAuth2:
            - ViewMembers
      operationId: getMembersByRefId
      summary: Get members by reference ids
      description: >-
        Returns a list of Members. This assumes that members have first been uploaded via a POST
        request or web console
      x-codegen-request-body-name: body
  /rules/schema:
    get:
      tags:
        - rules
      parameters:
        -
          name: context
          description: 'The context to retrieve, either achievement, competition or contest'
          schema:
            type: string
          in: query
          required: true
      responses:
        '200':
          $ref: '#/components/responses/ResponseBody'
        '400':
          $ref: '#/components/responses/ResponseBody'
        '401':
          $ref: '#/components/responses/ResponseBody'
        '403':
          $ref: '#/components/responses/ResponseBody'
        '404':
          $ref: '#/components/responses/ResponseBody'
        '413':
          $ref: '#/components/responses/ResponseBody'
        '500':
          $ref: '#/components/responses/ResponseBody'
        '501':
          $ref: '#/components/responses/ResponseBody'
        '503':
          $ref: '#/components/responses/ResponseBody'
      security:
        -
          OAuth2:
            - ViewRules
      operationId: getRuleSchemas
      description: >-
        Returns a list of rules. This assumes that rules have first been created during achievement,
        competition or contest setup
      x-codegen-request-body-name: body
  /rules/validate:
    post:
      requestBody:
        description: Validate rules
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateRuleRequest'
        required: true
      tags:
        - rules
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - ManageRules
      operationId: validateRules
      description: Validate rules
      x-codegen-request-body-name: body
  /rules/operand-lookup:
    post:
      requestBody:
        description: Search for operand values and human readable text options
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RuleOperandLookupRequest'
        required: true
      tags:
        - rules
      responses:
        '200':
          $ref: '#/components/responses/RuleOperandLookupResponseBody'
        '400':
          $ref: '#/components/responses/RuleOperandLookupResponseBody'
        '401':
          $ref: '#/components/responses/RuleOperandLookupResponseBody'
        '403':
          $ref: '#/components/responses/RuleOperandLookupResponseBody'
        '404':
          $ref: '#/components/responses/RuleOperandLookupResponseBody'
        '413':
          $ref: '#/components/responses/RuleOperandLookupResponseBody'
        '500':
          $ref: '#/components/responses/RuleOperandLookupResponseBody'
        '501':
          $ref: '#/components/responses/RuleOperandLookupResponseBody'
        '503':
          $ref: '#/components/responses/RuleOperandLookupResponseBody'
      security:
        -
          OAuth2:
            - ManageRules
      operationId: lookupOperandsRules
      description: Search or get rule operand values
      x-codegen-request-body-name: body
  /rules/delete:
    post:
      requestBody:
        description: >-
          Delete Rules from Ziqni database by unique Rules ID's or any other POST body parameters
          using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - rules
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminRewards
      operationId: deleteRulesByQuery
      description: >-
        Delete Rules from Ziqni database by unique Rules ID's or any other POST body parameters using
        the POST method
      x-codegen-request-body-name: body
  /rules/query:
    post:
      requestBody:
        description: >-
          Retrieve Rules from Ziqni database by unique Rewards ID's or any other Post body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - rules
      responses:
        '200':
          $ref: '#/components/responses/RuleResponseBody'
        '400':
          $ref: '#/components/responses/RuleResponseBody'
        '401':
          $ref: '#/components/responses/RuleResponseBody'
        '403':
          $ref: '#/components/responses/RuleResponseBody'
        '404':
          $ref: '#/components/responses/RuleResponseBody'
        '413':
          $ref: '#/components/responses/RuleResponseBody'
        '500':
          $ref: '#/components/responses/RuleResponseBody'
        '501':
          $ref: '#/components/responses/RuleResponseBody'
        '503':
          $ref: '#/components/responses/RuleResponseBody'
      security:
        -
          OAuth2:
            - ViewRules
      operationId: getRulesByQuery
      description: >-
        Retrieve Rules from Ziqni database by unique Rewards ID's or any other POST body parameters
        using the POST method
      x-codegen-request-body-name: body
  /tags/query:
    summary: Get tags by query
    description: This operation allows you to get tags by query
    post:
      requestBody:
        description: >-
          Retrieve Tags from Ziqni database by unique Tags ID's or any other POST body parameters
          using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - tags
      responses:
        '200':
          $ref: '#/components/responses/TagResponseBody'
        '400':
          $ref: '#/components/responses/TagResponseBody'
        '401':
          $ref: '#/components/responses/TagResponseBody'
        '403':
          $ref: '#/components/responses/TagResponseBody'
        '404':
          $ref: '#/components/responses/TagResponseBody'
        '500':
          $ref: '#/components/responses/TagResponseBody'
        '501':
          $ref: '#/components/responses/TagResponseBody'
      security:
        -
          OAuth2:
            - ViewTags
      operationId: getTagsByQuery
      summary: Get tags by query
      description: >-
        Retrieve Tags from Ziqni database by unique Tags ID's or any other POST body parameters using
        the POST method
      x-codegen-request-body-name: body
  /account-messages/delete:
    post:
      requestBody:
        description: >-
          Delete Account Messages from Ziqni database by unique message ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - account-messages
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminMessages
      operationId: deleteAccountMessagesByQuery
      description: Delete Account Messages from the system by query.
      x-codegen-request-body-name: body
  /account-messages/query:
    post:
      requestBody:
        description: >-
          Retrieve Account Messages from Ziqni database by unique message ID's or any other POST
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - account-messages
      responses:
        '200':
          $ref: '#/components/responses/AccountMessageResponseBody'
        '400':
          $ref: '#/components/responses/AccountMessageResponseBody'
        '401':
          $ref: '#/components/responses/AccountMessageResponseBody'
        '403':
          $ref: '#/components/responses/AccountMessageResponseBody'
        '404':
          $ref: '#/components/responses/AccountMessageResponseBody'
        '413':
          $ref: '#/components/responses/AccountMessageResponseBody'
        '500':
          $ref: '#/components/responses/AccountMessageResponseBody'
        '501':
          $ref: '#/components/responses/AccountMessageResponseBody'
        '503':
          $ref: '#/components/responses/AccountMessageResponseBody'
      security:
        -
          OAuth2:
            - ViewMessages
      operationId: getAccountMessagesByQuery
      description: Retrieve Account Messages from the system by query.
      x-codegen-request-body-name: body
  /member-messages/delete:
    post:
      requestBody:
        description: >-
          Delete Member Messages from Ziqni database by unique message ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - member-messages
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminMessages
      operationId: deleteMemberMessagesByQuery
      description: Delete Member Messages by query.
      x-codegen-request-body-name: body
  /member-messages/query:
    post:
      requestBody:
        description: >-
          Retrieve Member Messages from Ziqni database by unique message ID's or any other POST body
          parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - member-messages
      responses:
        '200':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '400':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '401':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '403':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '404':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '413':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '500':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '501':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '503':
          $ref: '#/components/responses/MemberMessageResponseBody'
      security:
        -
          OAuth2:
            - ViewMessages
      operationId: getMemberMessagesByQuery
      description: >-
        Retrieve Member Messages from Ziqni database by unique message ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /notifications/delete:
    post:
      requestBody:
        description: >-
          Delete Notification Messages from Ziqni database by unique message ID's or any other POST
          body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - notifications
      responses:
        '200':
          $ref: '#/components/responses/ApiResponseBody'
        '400':
          $ref: '#/components/responses/ApiResponseBody'
        '401':
          $ref: '#/components/responses/ApiResponseBody'
        '403':
          $ref: '#/components/responses/ApiResponseBody'
        '404':
          $ref: '#/components/responses/ApiResponseBody'
        '413':
          $ref: '#/components/responses/ApiResponseBody'
        '500':
          $ref: '#/components/responses/ApiResponseBody'
        '501':
          $ref: '#/components/responses/ApiResponseBody'
        '503':
          $ref: '#/components/responses/ApiResponseBody'
      security:
        -
          OAuth2:
            - AdminMessages
      operationId: deleteNotificationsByQuery
      description: >-
        Delete Notification Messages from Ziqni database by unique message ID's or any other POST body
        parameters using the POST method
      x-codegen-request-body-name: body
  /notifications/query:
    post:
      requestBody:
        description: >-
          Retrieve Notification Messages from Ziqni database by unique message ID's or any other
          POST body parameters using the POST method
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      tags:
        - notifications
      responses:
        '200':
          $ref: '#/components/responses/NotificationResponseBody'
        '400':
          $ref: '#/components/responses/NotificationResponseBody'
        '401':
          $ref: '#/components/responses/NotificationResponseBody'
        '403':
          $ref: '#/components/responses/NotificationResponseBody'
        '404':
          $ref: '#/components/responses/NotificationResponseBody'
        '413':
          $ref: '#/components/responses/NotificationResponseBody'
        '500':
          $ref: '#/components/responses/NotificationResponseBody'
        '501':
          $ref: '#/components/responses/NotificationResponseBody'
        '503':
          $ref: '#/components/responses/NotificationResponseBody'
      security:
        -
          OAuth2:
            - ViewMessages
      operationId: getNotificationsByQuery
      description: >-
        Retrieve Notification Messages from Ziqni database by unique message ID's or any other POST
        body parameters using the POST method
      x-codegen-request-body-name: body
  /products:
    summary: Manage products
    description: These operations allow you to manage products in your project.
    get:
      tags:
        - products
      parameters:
        -
          $ref: '#/components/parameters/idQuery'
        -
          $ref: '#/components/parameters/limitResults'
        -
          $ref: '#/components/parameters/skipResults'
      responses:
        '200':
          $ref: '#/components/responses/ProductResponseBody'
        '400':
          $ref: '#/components/responses/ProductResponseBody'
        '401':
          $ref: '#/components/responses/ProductResponseBody'
        '403':
          $ref: '#/components/responses/ProductResponseBody'
        '404':
          $ref: '#/components/responses/ProductResponseBody'
        '500':
          $ref: '#/components/responses/ProductResponseBody'
        '501':
          $ref: '#/components/responses/ProductResponseBody'
      security:
        -
          OAuth2:
            - ViewProducts
      operationId: getProducts
      summary: Get products
      description: >-
        Returns a list of Products. This assumes that products have first been uploaded via a POST
        request or web console
      x-codegen-request-body-name: body
      x-vue-item: Product
      x-vue-list: Products
    put:
      requestBody:
        description: >-
          Update a Product or multiple Products in the Ziqni database. * Product Ref Id can not be
          changed after creation * A products Id must exist in the Ziqni database to update the
          product
        content:
          application/json:
            schema:
[...]
