/*
 * ZIQNI Admin API
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.sdk.admin.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.sdk.admin.streaming.StreamingClient;
import com.ziqni.sdk.admin.streaming.EventHandler;
import com.ziqni.sdk.admin.streaming.handlers.CallbackConsumer;
import com.ziqni.sdk.admin.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.sdk.admin.model.CollaboratorResponse;
    import com.ziqni.sdk.admin.model.CollaboratorRolesResponse;
    import com.ziqni.sdk.admin.model.CreateCollaboratorRequest;
    import com.ziqni.sdk.admin.model.ModelApiResponse;
    import com.ziqni.sdk.admin.model.QueryRequest;
    import com.ziqni.sdk.admin.model.UpdateCollaboratorRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.sdk.admin.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class CollaboratorsApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public CollaboratorsApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }



            /**
            * 
            * Create a new Collaborator in the Ziqni
                * @param body Create a Collaborator in the Ziqni system (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> createCollaborators(List<CreateCollaboratorRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/createCollaborators", request);
            return result;
        }



            /**
            * 
            * Returns a list of Collaborators. This assumes that Users have first been uploaded via a POST request or web console
                * @param emails The list of user emails to search by (optional
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> deleteCollaborators(List<String> emails) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("emails", emails);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/deleteCollaborators", request);
            return result;
        }



            /**
            * 
            * Returns a list of Collaborators. This assumes that Users have first been uploaded via a POST request or web console
                * @return CompletableFuture&lt;CollaboratorRolesResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<CollaboratorRolesResponse> getAvailableRolesForCollaborators() {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            

            CompletableFuture<CollaboratorRolesResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getAvailableRolesForCollaborators", request);
            return result;
        }



            /**
            * 
            * Returns a list of Collaborators. This assumes that Users have first been uploaded via a POST request or web console
                * @param emails The list of user emails to search by (optional
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;CollaboratorResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<CollaboratorResponse> getCollaborators(List<String> emails, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("emails", emails);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<CollaboratorResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getCollaborators", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Retrieve collaborators for the account
                * @param body Retrieve collaborators for the account (optional)
                * @return CompletableFuture&lt;CollaboratorResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<CollaboratorResponse> getCollaboratorsByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<CollaboratorResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getCollaboratorsByQuery", request);
            return result;
        }



            /**
            * 
            * Update an existing Collaborator in the Ziqni system
                * @param body Update a Collaborator in the Ziqni system. * Any Put body Parameters that are excluded in the Request body field will be considered as empty and updated with an empty field (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> updateCollaborators(List<UpdateCollaboratorRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/updateCollaborators", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
