/*
 * ZIQNI Admin API
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.sdk.admin.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.sdk.admin.streaming.StreamingClient;
import com.ziqni.sdk.admin.streaming.EventHandler;
import com.ziqni.sdk.admin.streaming.handlers.CallbackConsumer;
import com.ziqni.sdk.admin.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.sdk.admin.model.ComputeEngineResponse;
    import com.ziqni.sdk.admin.model.CreateComputeEngineRequest;
    import com.ziqni.sdk.admin.model.ModelApiResponse;
    import com.ziqni.sdk.admin.model.QueryRequest;
    import com.ziqni.sdk.admin.model.UpdateComputeEngineRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.sdk.admin.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class ComputeEngineApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public ComputeEngineApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }



            /**
            * 
            * Create a new Compute Engine in the Ziqni system
                * @param body Create a Compute Engine in the Ziqni system (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> createComputeEngines(CreateComputeEngineRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/createComputeEngines", request);
            return result;
        }



            /**
            * 
            * Delete the Compute Engine for a given identifier specified
                * @param id Unique identifier of the resource (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> deleteComputeEnginesById(String id) {
                var request = new HashMap<String, Object>();
            
                        

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/deleteComputeEnginesById", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Delete an Compute Engine or a list of Compute Engines from Ziqni by query
                * @param body Delete an  Compute Engine or a list of Compute Engines from Ziqni by unique Compute Engine ID&#39;s or any other POST body parameters using the POST method (optional)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> deleteComputeEnginesByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/deleteComputeEnginesByQuery", request);
            return result;
        }



            /**
            * 
            * Returns a list of Compute Engines. This assumes that api keys have first been created via a POST request or web console
                * @param id The unique identifiers of the resources (optional
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;ComputeEngineResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ComputeEngineResponse> getComputeEngines(List<String> id, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("id", id);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<ComputeEngineResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getComputeEngines", request);
            return result;
        }



            /**
            * 
            * Returns an Compute Engine by identifier provided. This assumes that compute engines have first been created via a POST request or web console
                * @param id Unique identifier of the resource (required)
                * @return CompletableFuture&lt;ComputeEngineResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ComputeEngineResponse> getComputeEnginesById(String id) {
                var request = new HashMap<String, Object>();
            
                        

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<ComputeEngineResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getComputeEnginesById", request);
            return result;
        }



            /**
            * 
            * Retrieve an Compute Engine or a list of Compute Engines by query
                * @param body Retrieve an  Compute Engine or a list of Compute Engines from Ziqni by unique Copute Engine ID&#39;s or any other POST body parameters using the POST method (optional)
                * @return CompletableFuture&lt;ComputeEngineResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ComputeEngineResponse> getComputeEnginesByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ComputeEngineResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getComputeEnginesByQuery", request);
            return result;
        }



            /**
            * 
            * Update an existing Compute Engine in the Ziqni system
                * @param body Update an Compute Engine in the Ziqni system. * Any Put body Parameters that are excluded in the Request body field will be considered as empty and updated with an empty field (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> updateComputeEngines(UpdateComputeEngineRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/updateComputeEngines", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
