/*
 * ZIQNI Admin API
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.sdk.admin.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.sdk.admin.streaming.StreamingClient;
import com.ziqni.sdk.admin.streaming.EventHandler;
import com.ziqni.sdk.admin.streaming.handlers.CallbackConsumer;
import com.ziqni.sdk.admin.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.sdk.admin.model.BracketResponse;
    import com.ziqni.sdk.admin.model.CloneCompetitionResponse;
    import com.ziqni.sdk.admin.model.CompetitionLeaderboardResponse;
    import com.ziqni.sdk.admin.model.CompetitionResponse;
    import com.ziqni.sdk.admin.model.ContestReducedResponse;
    import com.ziqni.sdk.admin.model.CreateCompetitionRequest;
    import com.ziqni.sdk.admin.model.CreateSimpleCompetitionRequest;
    import com.ziqni.sdk.admin.model.EntrantRequest;
    import com.ziqni.sdk.admin.model.EntrantResponse;
    import com.ziqni.sdk.admin.model.ModelApiResponse;
    import com.ziqni.sdk.admin.model.QueryRequest;
    import com.ziqni.sdk.admin.model.UpdateCompetitionRequest;
    import com.ziqni.sdk.admin.model.UpdateCompetitionStatusRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.sdk.admin.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class CompetitionsApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public CompetitionsApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }



            /**
            * 
            * Create a new Competition in the Ziqni database
                * @param body Create a Competition in the Ziqni database (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> createCompetitions(CreateCompetitionRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/createCompetitions", request);
            return result;
        }



            /**
            * 
            * Create a Simple Competition in the Ziqni database
                * @param body Create a Competition in the Ziqni database (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> createSimpleCompetitions(CreateSimpleCompetitionRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/createSimpleCompetitions", request);
            return result;
        }



            /**
            * 
            * Returns a list of Competitions. This assumes that competitions have first been uploaded via a POST request or web console
                * @param id The unique identifiers of the resources (optional
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;CompetitionResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<CompetitionResponse> getCompetitions(List<String> id, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("id", id);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<CompetitionResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getCompetitions", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns all Contests for the Competition id provided in Brackets
                * @param id Unique identifier of the resource (required)
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;BracketResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<BracketResponse> getCompetitionsBrackets(String id, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<BracketResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getCompetitionsBrackets", request);
            return result;
        }



            /**
            * 
            * Retrieve Competitions from Ziqni database by unique Competition ID&#39;s or any other POST body parameters using the POST method
                * @param body Retrieve Competitions from Ziqni database by unique Competition ID&#39;s or any other POST body parameters using the POST method (optional)
                * @return CompletableFuture&lt;CompetitionResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<CompetitionResponse> getCompetitionsByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<CompetitionResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getCompetitionsByQuery", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Clones a Competition for the identifier provided
                * @param id Unique identifier of the resource (required)
                * @return CompletableFuture&lt;CloneCompetitionResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<CloneCompetitionResponse> getCompetitionsToClone(String id) {
                var request = new HashMap<String, Object>();
            
                        

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<CloneCompetitionResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getCompetitionsToClone", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns all Contests for the Competition id provided
                * @param id Unique identifier of the resource (required)
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;ContestReducedResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ContestReducedResponse> getContestsForCompetitions(String id, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<ContestReducedResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getContestsForCompetitions", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns a list of Leaderborads for the Competition id provided
                * @param id Unique identifier of the resource (required)
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;CompetitionLeaderboardResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<CompetitionLeaderboardResponse> getLeaderboardByCompetitionId(String id, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<CompetitionLeaderboardResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getLeaderboardByCompetitionId", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns all Entries for the Competition id provided
                * @param id Unique identifier of the resource (required)
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;EntrantResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<EntrantResponse> getListOfEntrants(String id, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<EntrantResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getListOfEntrants", request);
            return result;
        }



            /**
            * 
            * Update an existing Competition in the Ziqni database
                * @param body Update a Competition in the Ziqni database. * A Competitions Id must exist in the Ziqni database for update (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> updateCompetitions(UpdateCompetitionRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/updateCompetitions", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Updates the status of the Entrants for a Competition id provided
                * @param body Updates the status of the Entrants (optional
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> updateCompetitionsEntries(List<EntrantRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/updateCompetitionsEntries", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Manages the Competitions state
                * @param body Updates the state of the Competition (optional
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> updateCompetitionsState(List<UpdateCompetitionStatusRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/updateCompetitionsState", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
