/*
 * ZIQNI Admin API
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.sdk.admin.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.sdk.admin.streaming.StreamingClient;
import com.ziqni.sdk.admin.streaming.EventHandler;
import com.ziqni.sdk.admin.streaming.handlers.CallbackConsumer;
import com.ziqni.sdk.admin.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.sdk.admin.model.SubscriptionRequest;
    import com.ziqni.sdk.admin.model.SubscriptionResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.sdk.admin.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class EntityChangesApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public EntityChangesApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }



            /**
            * 
            * subscribes a client to receive out-of-band data
                * @param subscriptionRequest  (required)
                * @return CompletableFuture&lt;SubscriptionResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<SubscriptionResponse> sysNotifyAvailable(SubscriptionRequest subscriptionRequest) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",subscriptionRequest);

            CompletableFuture<SubscriptionResponse> result = this.streamingClient.sendWithApiCallback("/gapi/sysNotifyAvailable", request);
            return result;
        }

    public class sysNotifySubscribeCallBacks {
        public final static String ENTITYCHANGED ="entityChanged";
        public final static String ENTITYSTATECHANGED ="entityStateChanged";
        
    }


    public EntityChangesApiWs entityChangedHandler(BiConsumer<StompHeaders, EntityChanged> entityChanged, BiConsumer<StompHeaders, ApiException> onApiException){
        streamingClient.getCallbackEventHandler().registerCallbackHandler(new CallbackConsumer<EntityChanged>(EntityChanged.class, "entityChanged", entityChanged, onApiException));
        return this;
    }

    public EntityChangesApiWs entityStateChangedHandler(BiConsumer<StompHeaders, EntityStateChanged> entityStateChanged, BiConsumer<StompHeaders, ApiException> onApiException){
        streamingClient.getCallbackEventHandler().registerCallbackHandler(new CallbackConsumer<EntityStateChanged>(EntityStateChanged.class, "entityStateChanged", entityStateChanged, onApiException));
        return this;
    }

            /**
            * 
            * subscribes a client to receive out-of-band data
                * @param subscriptionRequest  (required)
                * @return CompletableFuture&lt;SubscriptionResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<SubscriptionResponse> sysNotifySubscribe(SubscriptionRequest subscriptionRequest) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",subscriptionRequest);

            CompletableFuture<SubscriptionResponse> result = this.streamingClient.sendWithApiCallback("/gapi/sysNotifySubscribe", request);
            return result;
        }



            /**
            * 
            * subscribes a client to receive out-of-band data
                * @param subscriptionRequest  (required)
                * @return CompletableFuture&lt;SubscriptionResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<SubscriptionResponse> sysNotifySubscriptions(SubscriptionRequest subscriptionRequest) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",subscriptionRequest);

            CompletableFuture<SubscriptionResponse> result = this.streamingClient.sendWithApiCallback("/gapi/sysNotifySubscriptions", request);
            return result;
        }



            /**
            * 
            * subscribes a client to receive out-of-band data
                * @param subscriptionRequest  (required)
                * @return CompletableFuture&lt;SubscriptionResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<SubscriptionResponse> sysNotifyUnsubscribe(SubscriptionRequest subscriptionRequest) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",subscriptionRequest);

            CompletableFuture<SubscriptionResponse> result = this.streamingClient.sendWithApiCallback("/gapi/sysNotifyUnsubscribe", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
