/*
 * ZIQNI Admin API
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.sdk.admin.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.sdk.admin.streaming.StreamingClient;
import com.ziqni.sdk.admin.streaming.EventHandler;
import com.ziqni.sdk.admin.streaming.handlers.CallbackConsumer;
import com.ziqni.sdk.admin.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.sdk.admin.model.CreateRepositoryRequest;
    import com.ziqni.sdk.admin.model.ModelApiResponse;
    import com.ziqni.sdk.admin.model.QueryRequest;
    import com.ziqni.sdk.admin.model.RepositoryResponse;
    import com.ziqni.sdk.admin.model.UpdateRepositoryRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.sdk.admin.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class FileRepositoriesApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public FileRepositoriesApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }



            /**
            * 
            * Create a new file object repository in your Ziqni space
                * @param body Create a new file object repository in your Ziqni space (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> createFileRepositories(List<CreateRepositoryRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/createFileRepositories", request);
            return result;
        }



            /**
            * 
            * Delete the file repository for a given identifier specified
                * @param id The unique identifiers of the resources (optional
                * @param permanent Permanently delete the file object. Default is false (optional)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> deleteFileRepositories(List<String> id, Boolean permanent) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("id", id);
queryParam.put("permanent", permanent);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/deleteFileRepositories", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Delete repositories nby query. Delete repositories by query and/or unique repository ID&#39;s or any other body parameters
                * @param body Delete repositories from a Ziqni space by unique repository ID&#39;s or any other POST body parameters using the POST method (optional)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> deleteFileRepositoriesByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/deleteFileRepositoriesByQuery", request);
            return result;
        }



            /**
            * 
            * Returns a list of file object repositories. This assumes that repositories have first been uploaded via a POST request or web console
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @param id The unique identifiers of the resources (optional
                * @return CompletableFuture&lt;RepositoryResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<RepositoryResponse> getFileRepositories(Integer limit, Integer skip, List<String> id) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("limit", limit);
queryParam.put("skip", skip);
queryParam.put("id", id);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<RepositoryResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getFileRepositories", request);
            return result;
        }



            /**
            * 
            * Find file object repositories by query
                * @param body Retrieve file object repositories from Ziqni by unique repository ID&#39;s or any other POST body parameters using the POST method (optional)
                * @return CompletableFuture&lt;RepositoryResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<RepositoryResponse> getFileRepositoriesByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<RepositoryResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getFileRepositoriesByQuery", request);
            return result;
        }



            /**
            * 
            * Update a file object repository in your Ziqni space.
                * @param body Update a file object repository in your Ziqni space. (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> updateFileRepositories(List<UpdateRepositoryRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/updateFileRepositories", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
