/*
 * ZIQNI Admin API
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.sdk.admin.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.sdk.admin.streaming.StreamingClient;
import com.ziqni.sdk.admin.streaming.EventHandler;
import com.ziqni.sdk.admin.streaming.handlers.CallbackConsumer;
import com.ziqni.sdk.admin.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.sdk.admin.model.AchievementReducedResponse;
    import com.ziqni.sdk.admin.model.CompetitionReducedResponse;
    import com.ziqni.sdk.admin.model.ContestReducedResponse;
    import com.ziqni.sdk.admin.model.CreateMemberRequest;
    import com.ziqni.sdk.admin.model.MemberAwardResponse;
    import com.ziqni.sdk.admin.model.MemberMessageResponse;
    import com.ziqni.sdk.admin.model.MemberResponse;
    import com.ziqni.sdk.admin.model.ModelApiResponse;
    import com.ziqni.sdk.admin.model.QueryRequest;
    import com.ziqni.sdk.admin.model.UpdateMemberRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.sdk.admin.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class MembersApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public MembersApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }



            /**
            * Create members
            * Create new Members in the Ziqni database
                * @param body Create Members in the Ziqni database. An array can contain a maximum of 10,000 members in one request (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> createMembers(List<CreateMemberRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/createMembers", request);
            return result;
        }



            /**
            * Delete members
            * Delete Members for a given identifier specified
                * @param id The unique identifiers of the resources (optional
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> deleteMembers(List<String> id) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("id", id);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/deleteMembers", request);
            return result;
        }



            /**
            * Delete members by query
            * Delete Members from Ziqni database by unique Members ID&#39;s or any other POST body parameters using the POST method
                * @param body Delete Members from Ziqni database by unique Members ID&#39;s or any other POST body parameters using the POST method (optional)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> deleteMembersByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/deleteMembersByQuery", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns a list of Achievements for the Member id provided
                * @param id Unique identifier of the resource (required)
                * @param achievementId Id of an Achievement (optional)
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;AchievementReducedResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<AchievementReducedResponse> getAchievementsForMembers(String id, String achievementId, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("achievementId", achievementId);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<AchievementReducedResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getAchievementsForMembers", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns a list of Awards for the Member id provided
                * @param id Unique identifier of the resource (required)
                * @param awardId Id of an Award (optional)
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;MemberAwardResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<MemberAwardResponse> getAwardsForMembers(String id, String awardId, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("awardId", awardId);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<MemberAwardResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getAwardsForMembers", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns a list Competitions for the Member id provided
                * @param id Unique identifier of the resource (required)
                * @param competitionId Id of a Competition (optional)
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;CompetitionReducedResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<CompetitionReducedResponse> getCompetitionsForMembers(String id, String competitionId, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("competitionId", competitionId);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<CompetitionReducedResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getCompetitionsForMembers", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns a list of Contests for the Member id provided
                * @param id Unique identifier of the resource (required)
                * @param contestId Id of a Contest (optional)
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;ContestReducedResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ContestReducedResponse> getContestsForMembers(String id, String contestId, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("contestId", contestId);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<ContestReducedResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getContestsForMembers", request);
            return result;
        }



            /**
            * Get members
            * Returns a list of Members. This assumes that members have first been uploaded via a POST request or web console
                * @param id The unique identifiers of the resources (optional
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;MemberResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<MemberResponse> getMembers(List<String> id, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("id", id);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<MemberResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getMembers", request);
            return result;
        }



            /**
            * Get members by query
            * Retrieve Members from Ziqni database by unique Member ID&#39;s or any other POST body parameters using the POST method
                * @param body Retrieve Products from Ziqni database by unique Product ID&#39;s or any other POST body parameters using the POST method (optional)
                * @return CompletableFuture&lt;MemberResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<MemberResponse> getMembersByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<MemberResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getMembersByQuery", request);
            return result;
        }



            /**
            * Get members by reference ids
            * Returns a list of Members. This assumes that members have first been uploaded via a POST request or web console
                * @param refIds The reference ids  of the resources (optional
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;MemberResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<MemberResponse> getMembersByRefId(List<String> refIds, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("refIds", refIds);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<MemberResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getMembersByRefId", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns a list of Messages for the Member id provided
                * @param id Unique identifier of the resource (required)
                * @param messageId Id of a Message (optional)
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;MemberMessageResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<MemberMessageResponse> getMessagesForMembers(String id, String messageId, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("messageId", messageId);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<MemberMessageResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getMessagesForMembers", request);
            return result;
        }



            /**
            * Update members
            * Update existing Members in the Ziqni database
                * @param body Update member details in the Ziqni database for a given Member identifier. * Member Ref Id can not be changed after creation * A member Id must exist in the Ziqni database to update the member (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> updateMembers(List<UpdateMemberRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/updateMembers", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
