/*
 * ZIQNI Admin API
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.sdk.admin.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.sdk.admin.streaming.StreamingClient;
import com.ziqni.sdk.admin.streaming.EventHandler;
import com.ziqni.sdk.admin.streaming.handlers.CallbackConsumer;
import com.ziqni.sdk.admin.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.sdk.admin.model.ModelApiResponse;
    import com.ziqni.sdk.admin.model.QueryRequest;
    import com.ziqni.sdk.admin.model.Response;
    import com.ziqni.sdk.admin.model.RuleOperandLookupRequest;
    import com.ziqni.sdk.admin.model.RuleOperandLookupResponse;
    import com.ziqni.sdk.admin.model.RuleResponse;
    import com.ziqni.sdk.admin.model.UpdateRuleRequest;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.sdk.admin.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class RulesApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public RulesApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Delete Rules from Ziqni database by unique Rules ID&#39;s or any other POST body parameters using the POST method
                * @param body Delete Rules from Ziqni database by unique Rules ID&#39;s or any other POST body parameters using the POST method (optional)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> deleteRulesByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/deleteRulesByQuery", request);
            return result;
        }



            /**
            * 
            * Returns a list of rules. This assumes that rules have first been created during achievement, competition or contest setup
                * @param context The context to retrieve, either achievement, competition or contest (required)
                * @return CompletableFuture&lt;Response&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<Response> getRuleSchemas(String context) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("context", context);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<Response> result = this.streamingClient.sendWithApiCallback("/gapi/getRuleSchemas", request);
            return result;
        }



            /**
            * 
            * Returns a list of rules. This assumes that rules have first been created during achievement, competition or contest setup. The id is the ID of the entity the rules describe
                * @param id The unique identifiers of the resources (optional
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;RuleResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<RuleResponse> getRules(List<String> id, Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("id", id);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<RuleResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getRules", request);
            return result;
        }



            /**
            * 
            * Retrieve Rules from Ziqni database by unique Rewards ID&#39;s or any other POST body parameters using the POST method
                * @param body Retrieve Rules from Ziqni database by unique Rewards ID&#39;s or any other Post body parameters using the POST method (optional)
                * @return CompletableFuture&lt;RuleResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<RuleResponse> getRulesByQuery(QueryRequest body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<RuleResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getRulesByQuery", request);
            return result;
        }



            /**
            * 
            * Search or get rule operand values
                * @param body Search for operand values and human readable text options (required)
                * @return CompletableFuture&lt;RuleOperandLookupResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<RuleOperandLookupResponse> lookupOperandsRules(List<RuleOperandLookupRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<RuleOperandLookupResponse> result = this.streamingClient.sendWithApiCallback("/gapi/lookupOperandsRules", request);
            return result;
        }



            /**
            * 
            * Update existing rules
                * @param body Update rules for a given Achievement, Competition or Contest identifier. (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> updateRules(List<UpdateRuleRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/updateRules", request);
            return result;
        }



            /**
            * 
            * Validate rules
                * @param body Validate rules (required)
                * @return CompletableFuture&lt;ModelApiResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ModelApiResponse> validateRules(List<UpdateRuleRequest> body) {
                var request = new HashMap<String, Object>();
            
                        

            
                        

            request.put("body",body);

            CompletableFuture<ModelApiResponse> result = this.streamingClient.sendWithApiCallback("/gapi/validateRules", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
