/*
 * ZIQNI Admin API
 * Ziqni Application Services are used to manage and configure spaces.
 *
 * The version of the OpenAPI document: 3.0.1
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.sdk.admin.api;
import javax.ws.rs.core.GenericType;
import com.ziqni.sdk.admin.streaming.StreamingClient;
import com.ziqni.sdk.admin.streaming.EventHandler;
import com.ziqni.sdk.admin.streaming.handlers.CallbackConsumer;
import com.ziqni.sdk.admin.ApiException;
import org.springframework.messaging.simp.stomp.StompHeaders;
    import com.ziqni.sdk.admin.model.AccountMessageResponse;
    import com.ziqni.sdk.admin.model.ProfileResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.ziqni.sdk.admin.model.*;
import java.time.Duration;
    import java.util.*;
//asyncNative:true
import java.util.concurrent.CompletableFuture;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.BiConsumer;
@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class UserApiWs {

    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public UserApiWs(StreamingClient streamingClient, Duration readTimeout) {
    this.streamingClient = streamingClient;
    this.memberVarReadTimeout = readTimeout;
    }



            /**
            * 
            * Returns the current users user. This assumes that a user has first been uploaded via a POST request or web console
                * @param includeSpaces Include Spaces (optional)
                * @return CompletableFuture&lt;ProfileResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<ProfileResponse> getUser(Boolean includeSpaces) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("includeSpaces", includeSpaces);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<ProfileResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getUser", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns a list of the Users messages
                * @param limit Limit the returned total records found (optional)
                * @param skip Skip the returned records found and return the next batch of records (optional)
                * @return CompletableFuture&lt;AccountMessageResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<AccountMessageResponse> getUserMessages(Integer limit, Integer skip) {
                var request = new HashMap<String, Object>();
            var queryParam = new HashMap<String, Object>();
            queryParam.put("limit", limit);
queryParam.put("skip", skip);
            request.put("query",queryParam);

            
                        

            

            CompletableFuture<AccountMessageResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getUserMessages", request);
            return result;
        }



            /**
            * NOT AVAILABLE IN CURRENT RELEASE
            * Returns a Users message for the identifier provided
                * @param id Unique identifier of the resource (required)
                * @return CompletableFuture&lt;AccountMessageResponse&gt;
            * @throws ApiException if fails to make API call
            */
            public CompletableFuture<AccountMessageResponse> getUserMessagesById(String id) {
                var request = new HashMap<String, Object>();
            
                        

            var pathParam = new HashMap<String, Object>();
            pathParam.put("id", id);
            request.put("path",pathParam);

            

            CompletableFuture<AccountMessageResponse> result = this.streamingClient.sendWithApiCallback("/gapi/getUserMessagesById", request);
            return result;
        }

        private ApiException getApiException(String operationId, HttpResponse<String> response) {
        String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
        return new ApiException(response.statusCode(), message, response.headers(), response.body());
    }

    private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
    body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
    }
}
